<app-nav-bar></app-nav-bar>

<div class="container text-center" style="margin-top: 20px;">
    <div class="row">
      <div class="col">
        
      </div>
      <div class="col">
        <h2>¿Qué es Foodie?</h2>
      </div>
      <div class="col">
        
      </div>
    </div>
  </div>

  <div class="container text-center" style="margin-top: 20px;">
    <div class="row">
      <div class="col">
        <p>Foodie es tu aliado perfecto para crear planes de comida semanales de manera sencilla y personalizada. Con nuestra amplia selección de recetas irresistibles y la comodidad de recibir los ingredientes en tu puerta, llevar una alimentación deliciosa y saludable nunca ha sido tan fácil.

            </p>
      </div>
    </div>
    <div class="row" style="margin-bottom: 10px;">
        <div class="col">
          
        </div>
        <div class="col">
          <h2>¿Cómo Funciona?</h2>
        </div>
        <div class="col">
          
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img style="width: 100px; height: 100px;" src="../../assets/cocina.png" alt="Logo" />
          <h5>Crea planes personalizados</h5>
          <p>Crea planes de comidas semanales y selecciona las comidas que más se adapten a tus gustos y necesidades.</p>
        </div>

        <div class="col">
          <img style="width: 100px; height: 100px; " src="../../assets/lista-de-la-compra.png" alt="Logo" />
            
          <h5>Crea una lista de compras</h5>
          <p>Foodie te permite crear una lista de compras con los ingredientes que necesites.</p>
        </div>

        <div class="col">
          <img style="width: 100px; height: 100px; " src="../../assets/entrega-de-comida.png" alt="Logo" />

          <h5>Recibe la compra en tu hogar.</h5>
          <p>Crea una orden de compra y recibela en minutos en tu domicilio. Olvídate de las tediosas visitas al supermercado o de olvidar algún ingrediente esencial.</p>
        </div>
      </div>
    
  </div>

  

  