<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-top: 6px;">
    Agregar a Plan
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Comida a un Plan</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (submit)="onSubmit()" >
            <label style="margin-right: 4px;" for="plan">Select a plan: </label>
            <ng-container class="d-flex" *ngIf="plans$ | async as plans">
              <select name="plan" id="plan" [(ngModel)]="selectedPlan">
                <option *ngFor="let plan of plans" [value]="plan.id" (click)="onSelectPlan(plan.id)">
                  {{ plan.title }}
                </option>
              </select>
            </ng-container>
            <button style="float: right;" class="btn btn-primary" type="submit">Agregar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  