<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #C1FFD5;">
  <div class="container-fluid">
    <a class="navbar-brand header-font" routerLink="/home">Foodie</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/information" aria-current="page" href="#">¿Qué es Foodie?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home" aria-current="page" href="#">Planes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/comidas" aria-current="page" href="#">Comidas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Carrito de Compras
          </a>

          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Carrito de Compras</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                  <app-checkout-process></app-checkout-process>

                </div>
              </div>
            </div>
          </div>

        </li>
      </ul>

      <form class="d-flex" role="search">
        <app-create-plan-modal style="margin-right: 10px;"></app-create-plan-modal>
        <app-logout></app-logout>
      </form>
    </div>
  </div>
</nav>
