<div class="card" style="min-height:10rem;">
    <div class="card-body d-block h-100">
        <div class="d-flex justify-content-between align-items-center h-100">
            <h1 class="card-title text-truncate">{{planObject.title}}</h1>
            <div class="btn-group flex-row-reverse">
            </div>
        </div>
        <p class="card-text multi-line">{{planObject.description}}</p>
        <div *ngFor="let recipe of planObject.recipes">
            <app-display-recipe-details [recipe_id]="recipe.recipe_id_fatsecret_sor" ></app-display-recipe-details>
        </div>
    </div>
</div>