<div class="card" style="margin-bottom: 20px;">
  <div class="card-body">
    <h4 class="card-title text-truncate">{{ planObject.title }}</h4>
    <p class="card-text multi-line">{{ planObject.description }}</p>
    <h5 class="card-subtitle mb-2 text-muted">Lista de Comidas</h5> 
    

    <ng-container *ngIf="planObject.recipes && planObject.recipes.length === 0; else recipesCarousel">
      <p class="text-muted">Aun no has agregado comidas al plan</p>
      <a routerLink="/comidas" class="btn btn-primary">Ir a la sección de comidas</a>
    </ng-container>

    <ng-template #recipesCarousel>
      <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let recipe of recipeDetails; let isFirst = first" [class.active]="isFirst">
            <p class="carousel-day">{{ recipe.day_of_the_week }}</p>
            <img [src]="recipe.recipe.recipe_images.recipe_image" class="d-block w-100" alt="Recipe Image">
            <app-display-recipe-details [recipe_id]="recipe.recipe.recipe_id"></app-display-recipe-details>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </ng-template>
  </div>
</div>
